{% extends 'toast/fullpage.html' %}
{% block content %}
<h1>About</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Support</h5>
        <p class="card-text">For support, please contact <a href="mailto:contact-project+leegent-democra-toast-40158697-issue-@incoming.gitlab.com">the support zebras</a>.</p>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Acknowledgements</h5>
        <p class="card-text"><div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></p>
    </div>
</div>


{% endblock %}
