{% extends 'toast/fullpage.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <h1>Account details</h1>
    <div class="card">
        <div class="card-body">
            <form action="{% url 'myprofile' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label>Display name:</label>
                    {{ form.display_name.errors }}
                    {{ form.display_name|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Email address:</label>
                    {{ form.email.errors }}
                    {{ form.email|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>League affiliation:</label>
                    {{ form.affiliation|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Facebook profile (or best contact method, required):</label>
                    {{ form.facebook_profile.errors }}
                    {{ form.facebook_profile|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Home Postcode (for event distances):</label>
                    {{ form.home_postcode|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>WFTDA claimed identity (if any, for Cert):</label>
                    {{ form.wftda_cert_claimed_identity|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Pronouns:</label>
                    {{ form.pronouns|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Games history link, if any:</label>
                    {{ form.games_history_link|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Emergency contact details:</label>
                    {{ form.emergency_contact_details|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Notes:</label>
                    {{ form.notes|add_class:"form-control" }}
                </div>
                <hr />
                <h3>Notification Settings</h3>
                <div class="form-check">
                    <label class="form-check-label">
                        {{ form.opt_in_to_update_emails|add_class:"form-check-input" }}
                        Opt-in to be notified when your Events change
                    </label>
                </div>
                <hr />
                <h3>Default Options</h3>
                <div class="form-group">
                    <label>Preferred Roles:</label>
                    {{ form.preferred_roles|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label>Preferred Positions:</label>
                    {{ form.preferred_positions|add_class:"form-control" }}
                </div>
                <button class="btn btn-primary">Save details</button>
                <hr />
                <div class="form-group">
                    <a class="btn btn-secondary btn-sm" href="{% url 'password_change' %}">Change your password</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'delete_account' %}">Delete your account</a>
                </div>
            </form>
        </div>
    </div>

    <h1 class=mt-4>Your responsibilities</h1>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-borderless table-sm">
                    <tr>
                        <th>What</th>
                        <th>Who</th>
                    </tr>
                    {% for reg in me.admin_of_regions.all %}
                        <tr>
                        <td>Region Admin</td>
                        <td>{{ reg }}</td>
                        </tr>
                    {% endfor %}
                    {% for league in me.representative_of_leagues.all %}
                        <tr>
                        <td>League Representative</td>
                        <td>{{ league.name }}</td>
                        </tr>
                    {% endfor %}
                    {% if me.user.is_staff %}
                        <tr><td>TOaST Role</td><td>Staff</td></tr>
                    {% endif %}
                    {% if me.user.is_superuser %}
                        <tr><td>TOaST Role</td><td>Superuser</td></tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block postscripts %}
<script type="text/javascript" src="{% static 'js/multiseltocb.js' %}">
</script>
{% endblock %}
