{% extends 'toast/fullpage.html' %}
{% load widget_tweaks %}
{% load humanize %}
{% load static %}
{% block content %}
    <h1>{{ TOAST_NAME }}</h1>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Edit your availability for <strong>{{ event.friendly_name }}</strong></h2>
            <h4 class="card-subtitle mb-2 text-muted mb-4">on {{ event.date |naturalday}} in {{ event.city }}</h4>

            <div class="text-danger">{{ form.non_field_errors }}</div>

            <form action="{% url 'edit_availability' event.id %}" method="post">
                {% csrf_token %}
                {{ form.person.as_hidden }}
                {{ form.event.as_hidden }}

                <div class="form-group">
                    {{ form.notes.errors }}
                    {{ form.notes.label_tag }}
                    {{ form.notes|add_class:"form-control" }}
                </div>

            {% if event.is_tournament_game_day %}
                <div class="form-group">
                    {{ form.nominating_league.errors }}
                    {{ form.nominating_league.label_tag }}
                    {{ form.nominating_league|add_class:"form-control" }}
                </div>
            {% endif %}

                <div class="form-group">
                    {{ form.roles.errors }}
                    {{ form.roles.label_tag }}
                    {{ form.roles|add_class:"form-control"|append_attr:"size:2" }}
                </div>

                <div class="form-group">
                    {{ form.preferences.errors }}
                    {{ form.preferences.label_tag }}
                    {{ form.preferences|add_class:"form-control"|append_attr:"size:17" }}
                </div>

                <input type="submit" value="Save" class="btn btn-primary" />
                {% if form.instance.pk %}
                <a href="{% url 'del_availability' form.instance.pk %}" class="btn btn-danger">Remove Availability</a>
                {% endif %}
                <a href="javascript:window.history.back(1)" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}

{% block postscripts %}
<!--script type="text/javascript" src="{% static 'js/multiseltocb.js' %}"></script-->
{% endblock %}
