{% extends 'toast/fullpage.html' %}
{% block content %}
    <h1>{{ TOAST_NAME }} Tournament Officials Season Tracker</h1>
    <div class="card">
        <div class="card-body">
            <div id="calendar"></div>
        </div>
    </div>
{% endblock content %}

{% block postscripts %}
    <script type="text/javascript">
        var currentYear = new Date().getFullYear();
        $('#calendar').fullCalendar({
            eventSources: [
                {
                    url: '{% url 'current_season_cal' %}'
                }],
            firstDay: 1
        });
    </script>
{% endblock %}
