{% load event_extras %}
{% if days > 0 %}
    <span class="badge badge-light" style="background-color: {% days_remain_style days %}">
        {{ days }} days
    </span>
{% else %}
    <span class="badge badge-light">Past Due</span>
{% endif %}
