{% extends 'toast/fullpage.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Welcome to TOaST</h1>
        <p class="lead">The Tournament OfficiAls Season Tracker</h3>
        <p>Please <a href="{% url 'login' %}" class="btn btn-sm btn-outline-primary">Login</a> or <a href="{% url 'create_account' %}" class="btn btn-sm btn-outline-primary">Create an Account</a> to continue.</p>
    </div>
</div>
{% endblock %}