{% extends 'toast/fullpage.html' %}
{% load humanize %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Events You're Available For</h2>
            <div class="table-responsive">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Host</th>
                            <th>City</th>
                            <th># Games</th>
                            <th>Head Officials</th>
                            <th width="1%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for avail in avails %}
                        <tr>
                            <td>{{ avail.event.date|naturalday }}</td>
                            <td>{{ avail.event.host.name }} {% if avail.event.name %} present: {{ avail.event.name }} {% endif %}</td>
                            <td>{{ avail.event.city }}</td>
                            <td>{{ avail.event.game_set.all|length }}</td>
                            <td>
                                <ul class="list-unstyled small m-o">
                                    {% for ho in avail.event.host.region.admins.all %}
                                        <li>{{ ho.display_name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {% if avail.event.crew_locked %}
                                        <span class="badge badge-warning">Crew Closed</span>
                                {% else %}
                                    <a href="{% url 'show_event' avail.event.pk %}" class="btn btn-outline-secondary btn-sm d-block mb-2">Information</a>
                                    <a href="{% url 'edit_availability' avail.event.id %}" class="btn btn-outline-primary btn-sm d-block text-nowrap">Edit Availablity</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>            
            </table>
            </div>
        </div>
    </div>

{% endblock %}
