{% extends 'toast/fullpage.html' %}
{% load humanize %}
{% load event_extras %}
{% block content %}
    <h1>{{ TOAST_NAME }}</h1>
    {% if my_non_tournament_events_as_crew_head %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Crew Head</h4>
            <h6 class="card-subtitle text-muted">Non-Tournament events you have oversight over as a Crew Head</h6>
            <div class="table-responsive">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Host</th>
                            <th>Host Region</th>
                            <th>City</th>
                            <th># Games</th>
                            <th># Available Officials</th>
                            <th>Open for Applications?</th>
                            <th width="1%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in my_non_tournament_events_as_crew_head %}
                        <tr>
                            <td>{{ event.date|naturalday }}</td>
                            <td>{{ event.host.name }} {% if event.name %} present: {{ event.name }} {% endif %}</td>
                            <td>{{ event.host.region }}</td>
                            <td>{{ event.city }}</td>
                            <td>{{ event.game_set.all|length }}</td>
                            <td>{{ event.availability_set.all|length }}</td>
                            <td>
                                {% if event.crew_locked %}
                                    <span class="badge badge-warning">Crew Closed</span>
                                {% else %}
                                    Crew Open!
                                {% endif %}
                            </td>
                            <td><a href="{% url 'show_event' event.pk %}" class="btn btn-outline-secondary btn-sm d-block mb-2">Information</a></td>
                        </tr>
                        {% endfor %}        
                    </tbody>                
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% if my_tournament_events_as_region_admin_or_crew_head %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tournament Regional Admin or Crew Head</h4>
            <h6 class="card-subtitle text-muted">Events you have oversight of as a Regional Administrator or Crew Head</h6>
            <div class="table-responsive">
                <table class="table table-condensed table-striped">

                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Host</th>
                            <th>Host Region</th>
                            <th>City</th>
                            <th># Games</th>
                            <th># Available Officials</th>
                            <th>Nominations Due In</th>
                            <th width="1%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in my_tournament_events_as_region_admin_or_crew_head %}
                        <tr>
                            <td>{{ event.date|naturalday }}</td>
                            <td>{{ event.host.name }} {% if event.name %} present: {{ event.name }} {% endif %}</td>
                            <td>{{ event.host.region }}</td>
                            <td>{{ event.city }}</td>
                            <td>{{ event.game_set.all|length }}</td>
                            <td>{{ event.availability_set.all|length }}</td>
                            <td>
                                {% if event.crew_locked %}
                                    <span class="badge badge-warning">Crew Closed</span>
                                {% else %}
                                    {% include 'toast/inc_noms_due_in_badge.html' with days=event.noms_due_in_days %}</td>
                                {% endif %}
                            </td>
                            <td><a href="{% url 'show_event' event.pk %}" class="btn btn-outline-secondary btn-sm d-block mb-2">Information</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% if my_non_tournament_events_as_league_rep %}
    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">League Representative</h4>
            <h6 class="card-subtitle text-muted">Games you are hosting as League Representative</h6>
            <div class="table-responsive">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Host</th>
                            <th>City</th>
                            <th># Games</th>
                            <th># Available Officials</th>
                            <th>Open for Applications?</th>
                            <th width="1%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in my_non_tournament_events_as_league_rep %}
                        <tr>
                            <td>{{ event.date|naturalday }}</td>
                            <td>{{ event.host.name }} {% if game.event.name %} present: {{ game.event.name }} {% endif %}</td>
                            <td>{{ event.city }}</td>
                            <td>{{ event.game_set.all|length }}</td>
                            <td>{{ game.event.availability_set.all|length }}</td>
                            <td>
                                {% if game.event.crew_locked %}
                                    <span class="badge badge-warning">Crew Closed</span>
                                {% else %}
                                    Crew Open!
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'show_event' event.pk %}" class="btn btn-outline-secondary btn-sm d-block mb-2">Information</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>                    
                </table>
            </div>            
        </div>
    </div>
    {% endif %}
    {% if my_tournament_games_as_league_rep_game_to_noms_count %}
    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">Tournament Game Day League Representative</h4>
            <h6 class="card-subtitle text-muted">Games you are responsible for providing officials for as League Representative</h6>
            <div class="table-responsive">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Host</th>
                            <th>City</th>
                            <th>Home Team</th>
                            <th>Away Team</th>
                            <th># Your Nominations</th>
                            <th># Available, Nominated Officials</th>
                            <th>Nominations Due In</th>
                            <th width="1%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game, noms_count in my_tournament_games_as_league_rep_game_to_noms_count.items %}
                        <tr>
                            <td>{{ game.event.date|naturalday }}</td>
                            <td>{{ game.event.host.name }} {% if game.event.name %} present: {{ game.event.name }} {% endif %}</td>
                            <td>{{ game.event.city }}</td>
                            <td>{{ game.home_team }}</td>
                            <td>{{ game.away_team }}</td>
                            <td>{{ noms_count }}</td>
                            <td>{{ game.event.availability_set.all|length }}</td>
                            <td>
                                {% if game.event.crew_locked %}
                                    <span class="badge badge-warning">Crew Closed</span>
                                {% else %}
                                    {% include 'toast/inc_noms_due_in_badge.html' with days=game.event.noms_due_in_days %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'show_event' game.event.pk %}" class="btn btn-outline-secondary btn-sm d-block mb-2">Information</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
