{% extends 'toast/fullpage.html' %}
{% load humanize %}
{% block content %}
    <h1>{{ TOAST_NAME }}</h1>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Region</th>
                            <th>Host</th>
                            <th>City</th>
                            <th><div class="small">Tournament Game Day?</div></th>
                            <th>Games</th>
                            <th width="1%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>                
                        {% for event, avail in event_to_avail.items %}
                            <tr>
                                <td class="text-nowrap">{{ event.date|naturalday }}</td>
                                <td class="text-nowrap">{{ event.start_time|naturaltime }}</td>
                                <td>{{ event.host.region.name }} {% if event.host.region in my_administered_regions  %}<span class="badge badge-secondary">Admin</span>{% endif %}</td>

                                <td>{{ event.friendly_name }} {% if event.host in my_rep_teams %}<span class="badge badge-secondary">Rep</span>{% endif %}
                                </td>
                                <td>
                                    {{ event.city }}
                                    <div class="js-distance small" data-from="{{ me.home_postcode }}" data-to="{{ event.city }}"></div>
                                </td>
                                <td>{% if event.is_tournament_game_day %}&checkmark;{% endif %}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for game in event.game_set.all %}
                                            <li>
                                                {{ game.home_team.name }} {% if game.home_team in my_rep_teams %}<span class="badge badge-secondary">Rep</span>{% endif %}
                                                vs {{ game.away_team.name }} {% if game.away_team in my_rep_teams %}<span class="badge badge-secondary">Rep</span>{% endif %}<br />
                                                <span class="badge badge-info">{{ game.game_type.name }}</span>
                                                <span class="badge badge-info">{{ game.association.name }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    {% include 'toast/inc_avail_roles_and_prefs.html' %}
                                    {% if event.crew_locked %}
                                    <div class="mt-2">
                                        <a href="{% url 'show_event' event.pk %}" class="btn btn-outline-secondary btn-sm d-block mb-3">Information</a>
                                    </div>
                                        <span class="badge badge-warning">Crew Closed</span>
                                    {% else %}
                                        <div class="mt-2">
                                            <a href="{% url 'show_event' event.pk %}" class="btn btn-outline-secondary btn-sm d-block mb-2">Information</a>
                                            <a href="{% url 'edit_availability' event.id %}" class="btn btn-outline-primary btn-sm d-block text-nowrap">Edit Availablity</a>
                                        </div>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
        </div>
    </div>    
{% endblock %}

{% block postscripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpsj5SlDTJZ92fQ8bAeIDs6C3KGFOFZvw&callback=initMap" async defer></script>
<script type="text/javascript" src="/static/js/distance.js"></script>
{% endblock %}
