{% extends 'toast/fullpage.html' %}
{% load humanize %}
{% load event_extras %}
{% load static %}
{% block title %}TOaST | {{ event_title }}{% endblock %}
{% block content %}
<h2>
    {{ event_title }}
    {% if i_am_an_admin %}
        <a class="btn btn-outline-secondary btn-sm float-right" href="{% url 'edit_event' event.pk %}">Edit Event</a>
    {% endif %}
</h2>

<ul class="nav nav-tabs" id="tabs" role="tablist">
  <li class="nav-item">
    <a id="details-tab" data-toggle="tab" role="tab" class="nav-link active" href="#details">Info</a>
  </li>
  <li class="nav-item">
    <a id="games-tab" data-toggle="tab" role="tab" class="nav-link" href="#games">Games</a>
  </li>

{% if i_am_in_charge %}
  <li class="nav-item">
    <a id="officials-tab" data-toggle="tab" role="tab" class="nav-link" href="#officials">Officials</a>
  </li>
{% endif %}

{% if my_teams_nominees %}
    <li class="nav-item">
    <a id="nominees-tab" data-toggle="tab" role="tab" class="nav-link" href="#nominees">Your League's Nominees</a>
  </li>
{% endif %}

</ul>

<div class="tab-content" id="tabcontent">
    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
        <div class="table-responsive mt-3">
                        <table class="table table-condensed">
                            {%  if event.name %}
                            <tr>
                                <th>Event Name</th>
                                <td>{{ event.name }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Date</th>
                                <td class="w-100">{{ event.date|naturalday }} &mdash; {{ event.start_time|naturaltime }}</td>
                            </tr>

                            <tr>
                                <th>Host</th>
                                <td>{{ event.host.name }}</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>
                                    {{ event.city }}
                                    <div class="js-distance small" data-from="{{ me.home_postcode }}" data-to="{{ event.city }}"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>{{ event.address }}
                                    {% if event.address %}
                                        <a href="https://maps.google.com/?q={{ event.address }}" target="_blank" class="btn btn-outline-secondary btn-sm ml-2">Map</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Timings</th>
                                <td>
                                    <pre>{{event.schedule}}</pre>
                                </td>
                            </tr>
                            <tr>
                                <th>Facebook Links</th>
                                <td>
                                    {% if event.facebook_event_url %}<a href={{ event.facebook_event_url }} target="_blank" class="btn btn-outline-secondary btn-sm">Public Event</a>{% endif %}
                                    {% if event.officials_group_or_event_url %}<a href={{ event.officials_group_or_event_url }} target="_blank" class="btn btn-outline-secondary btn-sm">Officials Group</a>{% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th class="text-nowrap">Host Representatives</th>
                                <td>
                                    {% for person in event.host.representatives.all %}
                                        <div>{{ person.display_name }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Region</th>
                                <td>{{ event.host.region }}</td>
                            </tr>
                            <tr>
                                <th>Region Admins</th>
                                <td>
                                    {% regroup event.host.region.admins.all|dictsort:"user.is_staff" by user.is_staff as head_list %}
                                    {% for person_with_role in head_list %}
                                        {% for person in person_with_role.list %}
                                            <div>
                                            {% if person_with_role.grouper %}
                                                <small>
                                            {% endif %}
                                                {{ person.display_name }}
                                                {% if person_with_role.grouper %}
                                                    <span class="badge badge-pill badge-secondary">Admin</span>
                                                    </small>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Your Availability</th>
                                <td>
                                    {% if my_avail %}
                                        <div class="mb-2">
                                            {% include 'toast/inc_avail_roles_and_prefs.html' with avail=my_avail %}
                                        </div>
                                    {% endif %}
                                    {% if event.crew_locked %}
                                        <span class="badge badge-warning">Crew Closed</span>
                                    {% else %}
                                    <a class="btn btn-primary" href="{% url 'edit_availability' event.id %}">Edit Your Availability</a>
                                    {% if my_avail %}
                                        <a class="btn btn-danger" href="{% url 'del_availability' my_avail.pk %}">Remove Your Availability</a>
                                    {% endif %}
                                {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
    </div>

     <div class="tab-pane fade" id="games" role="tabpanel" aria-labelledby="games-tab">
        <div class="table-responsive mt-3">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Home Team</th>
                                        <th>Away Team</th>
                                        <th>Association</th>
                                        <th>Game Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for game in event.game_set.all %}
                                        <tr>
                                            <td>{{ game.home_team.name }} {% if event.is_tournament_game_day %}<span class="badge badge-pill badge-secondary">{{ game.home_team_nom_count }} nom(s)</span>{% endif %}</td>
                                            <td>{{ game.away_team.name }} {% if event.is_tournament_game_day %}<span class="badge badge-pill badge-secondary">{{ game.away_team_nom_count }} nom(s)</span>{% endif %}</td>
                                            <td>{{ game.association }}</td>
                                            <td>{{ game.game_type }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
     </div>

{% if i_am_in_charge %}
    <div class="tab-pane fade" id="officials" role="tabpanel" aria-labelledby="officials-tab">
        <div class="mt-3">
            {% if event.crew_locked %}
                <div class="alert alert-danger">Officiating crew is locked in and cannot be edited.</div>
            {% else %}
                <a class="btn btn-outline-danger btn-sm" href="javascript: lock_in_crew_and_email('{% url 'lock_in_crew_and_email' event.pk %}');">Lock In Crew &amp; Send Mail</a>
                <a class="btn btn-outline-danger btn-sm" href="javascript: lock_in_crew('{% url 'lock_in_crew' event.pk %}');">Lock In Crew</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'export_event_to_csv' event.pk %}" download="officials-for-{{ event.pk }}.csv" target="_blank">Export CSV</a>
        </div>
        <div class="table-responsive mt-3">
            <table class="table table-condensed table-striped text-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th width="1%">Affiliation</th>
                        <th>Contact</th>
                        <th>History</th>
                        {% if event.is_tournament_game_day %}<th>Nominating League</th>{% endif %}
                        <th>Submitted Note</th>
                        <th width="1%">Roles</th>
                        <th width="1%">Preferences</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for avail in all_avails %}
                        <tr id="{{ avail.pk }}" class="js-official">
                            <td>
                                {{ avail.person.display_name }}
                                {% if avail.person.pronouns %}
                                <small class="d-block">
                                    <span class="badge badge-secondary">{{ avail.person.pronouns }}</span>
                                </small>
                                {% endif %}
                            </td>
                            <td>{{ avail.person.affiliation }}</td>
                            <td>
                                {{ avail.person.facebook_profile | render_contact_method }}
                            </td>
                            <td>
                                {% if avail.person.games_history_link and avail.person.games_history_link %}
                                <a href="{{ avail.person.games_history_link }}" class="btn btn-sm btn-outline-secondary" target="_blank">View</a></td>
                                {% endif %}
                            {% if event.is_tournament_game_day %}<td>{{ avail.nominating_league }}</td>{% endif %}
                            <td>{{ avail.notes }}</td>
                            <td>{% include 'toast/inc_avail_roles.html' %}</td>
                            <td>{% include 'toast/inc_avail_prefs.html' %}</td>
                            <td class="js-roster-buttons">
                                {% if event.crew_locked %}
                                    {% if avail.person in event.crew_heads.all %}
                                        <span class="badge badge-danger d-block mb-1">Crew Head</span>
                                    {% endif %}
                                    {% for role in roles %}
                                        {% if avail.selected_for_crew_role == role %}
                                        <span class="badge badge-success d-block mb-1">{{ role.name }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% if i_am_an_admin %}
                                        <span
                                                class="btn d-block mb-1 js-roster-button js-roster-button--head"
                                                data-demoteurl="{% url 'remove_crew_head' event.id avail.person.id %}"
                                                data-promoteurl="{% url 'make_crew_head' event.id avail.person.id %}"
                                                {% if avail.person in event.crew_heads.all %}
                                                data-ishead="true"
                                                {% else %}
                                                data-ishead="false"
                                                {% endif %}
                                        >Crew Head</span>
                                    {% endif %}
                                    {% if i_am_in_charge %}
                                        <div class="mt-2 border-top border-secondary pt-2">
                                            {% for role in roles %}
                                                <span
                                                        class="btn btn-sm d-block mb-1 js-roster-button js-roster-button--enroster"
                                                        data-encrewurl="{% url 'select_official' avail.pk role.pk %}"
                                                      {% if avail.selected_for_crew_role == role %}
                                                        data-iscrewed="true"
                                                      {% else %}
                                                        data-iscrewed="false"
                                                      {% endif %}
                                                >{{ role.name }}</span>
                                            {% endfor %}
                                            <div class="mt-2 border-top border-secondary pt-2">
                                                <span
                                                        class="btn btn-warning btn-sm d-block js-roster-button js-roster-button--unselect mb-2"
                                                        data-decrewurl="{% url 'unselect_official' avail.pk %}"
                                                >Deselect</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

    {% if my_teams_nominees %}
  <div class="tab-pane fade" id="nominees" role="tabpanel" aria-labelledby="nominees-tab">
        <div class="table-responsive">
                <table class="table table-condensed table-striped text-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Affiliation</th>
                            <th>Nominating League</th>
                            <th>Pronouns</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for avail in my_teams_nominees %}
                            <tr>
                                <td>{{ avail.person.display_name }}</td>
                                <td>{{ avail.person.affiliation }}</td>
                                <td>{{ avail.nominating_league }}</td>
                                <td>{{ avail.person.pronouns }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
  </div>
    {% endif %}


{% endblock %}

{% block postscripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpsj5SlDTJZ92fQ8bAeIDs6C3KGFOFZvw&callback=initMap" async defer></script>
<script type="text/javascript" src="{% static 'js/distance.js' %}"></script>
<script type="text/javascript" src="{% static 'js/rostering.js' %}"></script>
<script type="text/javascript">
function lock_in_crew_and_email(url) {
    bootbox.confirm("This will send an e-mail to ALL officials listed here and cannot be undone. Anyone not rostered will be removed. Are you sure?", function(result) {
        if (!result) return;
        fetch(url, {credentials: "include"}).then((response) => {
            if (!response.ok) {
                response.text().then((data) => {
                    alert(data);
                });

            }
            else {
                window.location.reload();
            }
        });
    });
}

function lock_in_crew(url) {
    bootbox.confirm("This will prevent new Availabilities and cannot be undone. Anyone not rostered will be removed. Are you sure?", function(result) {
        if (!result) return;
        fetch(url, {credentials: "include"}).then((response) => {
            if (!response.ok) {
                response.text().then((data) => {
                    alert(data);
                });
            }
            else {
                window.location.reload();
            }        });
    });
}
</script>
{% endblock %}
